<a href="https://colab.research.google.com/github/Indian966/JBNU_BigData_Analyze/blob/master/LDA_topic_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import json
import pandas as pd


file_name = '코로나_naver_news'
with open('/content/'+ file_name+'.json', encoding = 'utf8') as j_f:
  data = json.load(j_f)

In [9]:
data_title = []
data_description = []
for item in data:
  data_title.append(item['title'])
  data_description.append(item['description'])

In [10]:
data_df = pd.DataFrame({'title':data_title, 'description':data_ description})

SyntaxError: ignored

In [1]:
description = data_df['description']

NameError: ignored

In [ ]:
description_noun_tk = []
for d in description:
  description_noun_tk.append(okt.nouns(d))

In [ ]:
description_noun_tk2 = []
for d in description_noun_tk:
  item = [i for i in d if len(i) > 1] #토큰 길이가 1보다 큰 것만 추출
  description_noun_tk2.append(item)

In [ ]:
print(description_noun_tk2)