<a href="https://colab.research.google.com/github/Indian966/JBNU_BigData_Analyze/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
health_data = pd.read_csv('/content/LISTLY_TRIAL_20211007.CSV', sep = ';',header = 0, engine = 'python', encoding='euc-kr')
health_data.head()

  LABEL-1,HREF-1,LABEL-2,HREF-2,LABEL-3,HREF-3,LABEL-4,HREF-4,LABEL-5,HREF-5,LABEL-6,HREF-6
0  https://i.ytimg.com/vi/e_QuW02wtyE/hqdefault.j...
1  https://i.ytimg.com/vi/2ZQGMrI6_BQ/hqdefault.j...
2  https://i.ytimg.com/vi/ouw-k66h3ks/hqdefault.j...
3  https://i.ytimg.com/vi/ULEAIvLg8bQ/hqdefault.j...
4  https://i.ytimg.com/vi/ALyKHA824as/hqdefault.j...

In [ ]:
food_data = pd.read_csv('/content/food_data.csv', sep = ',', header = 0, engine='python', encoding='cp949')
food_data.head()

       LABEL-1 LABEL-2  ...   likes dislikes
0  lhPMDwIbEgY      0   ...  67331     3805
1  MfCbRO07zyY      0   ...  49436     3078
2  vDOhmrngDJE      0   ...  48947     2798
3  eEJC7LZyoOU      0   ...  31215     2081
4  LDwrMVC7viM      0   ...  29827     1324

[5 rows x 9 columns]

In [ ]:
food_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LABEL-1      392 non-null    object
 1   LABEL-2      392 non-null    object
 2   LABEL-3      392 non-null    object
 3   LABEL-4      392 non-null    object
 4   LABEL-5      384 non-null    object
 5   category_id  392 non-null    object
 6   views        392 non-null    object
 7   likes        392 non-null    object
 8   dislikes     392 non-null    object
dtypes: object(9)
memory usage: 27.7+ KB

In [ ]:
food_data.describe()

       LABEL-1 LABEL-2  ... likes dislikes
count      392     392  ...   392      392
unique     388       4  ...   380      276
top     #NAME?      0   ...   87       13
freq         5     236  ...     3        7

[4 rows x 9 columns]

In [ ]:
sorted(food_data.views.unique())
food_data.views.value_counts()

-           2
2102739     1
1175135     1
171428      1
46223       1
           ..
2075275     1
210697      1
188482      1
254660      1
271242      1
Name: views, Length: 391, dtype: int64

In [ ]:
from scipy import stats
from statsmodels.formula.api import ols, glm

food_views = food_data.loc[:,'views']
food_likes = food_data.loc[:,'likes']

stats.ttest_ind(food_views, food_likes, equal_var = False)

TypeError: ignored